
body{
}
hr {
    margin: 10px;
    width: 300px;
}

input[type=submit]{
    width: 150px;
    height: 35px;
    border-radius: 3px;
    transition: 0.3s;
    border-right: 1px solid #4c98b8;
    border-left: 1px solid #4c98b8;
    background-color: #9bc0b3;
}
input[type=submit]:hover{
    background-color: #00a8bf;
    border-right: 1px solid #2b5266;
    border-left: 1px solid #2b5266;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

#fndAccount, #allDons {
    width: 300px;
    border: 4px double #000;
    padding: 10px;
}

#fndAccount span{
    width: 120px;
    float: left;
}
.centre{
    width: 450px;
    margin: 100px auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.clear {
    clear: both;
 }

.message {
    padding: 7px;
    text-align: center;
    border: 1px solid lightcoral;
    border-radius: 2px;
    background-color: rgb(255, 202, 210);
 }
.none {
    display: none;
 }

.table {
    display: block;
    border: 3px solid darkgrey;
    border-collapse: collapse;
    border-radius: 7px;
 }
.tableDate{
    width: 200px;
}
.member, .amount{
    width: 200px;
}
.donation{
    width: 100px;
}
img {
    /*width: auto;*/
    height: inherit;
    margin: 0 auto;
}
.img-icon{
    width: 30px;
    height: 30px;
    align-content: center;
}
.img-icon div{
    align-content: center;
}
.cyan {
    width: 200px;
    height: 20px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    color: #000;
    border-color: #72b8c1;
    background-color: #71b9dc;
    transition: 0.3s;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}
.cyan:hover {
    background-color: #0099ae;
}

td, th {
    padding: 5px;
    min-height: 20px;
    border: 2px solid darkgrey;
    text-align: center;
}
th {
    text-align: center;
    background: #ccc;
}
tr{
    height: 70px;
}

.shadowBox {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}